.wishlist-container {
    margin: 20px;
    padding: 20px;
}

.wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wishlist-item-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem;
}

.wishlist-item-details {
    justify-content: center;
    margin: 2rem;
}

.remove-item-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.view-more-btn {
    align-self: flex-end;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #28d97e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-more-btn:hover {
    background-color: #137040;
}

.remove-item-btn:hover {
    color: red;
}